{% include "partials/htmlhead.njk" %}

<main>
{% block content %}
  <div class="container">
    <div class="navbar">
    <a href="/">home</a>
    <a href="/astros">in space</a>
    <a href="/quakes">earthquakes</a>
    <a href="/covid19" class="active">covid-19</a>
  </div>
    <h1 class="title title--xxxl">{{ country }}</h1>
    {{ content | safe }}
    
    {% include "partials/covid19charts.html" %}
    
  </div>
{% endblock %}
</main>

{% include "partials/htmlfoot.njk" %}