{% include "partials/htmlhead.njk" %}

<main>
{% block content %}
  <div class="container">
    <div class="navbar">
    <a id="home" href="/">home</a>
    <a id="astros" href="/astros">in space</a>
    <a id="quakes" href="/quakes">earthquakes</a>
    <a id="covid19" href="/covid19">covid-19</a>
  </div>

    <h1 class="title title--xxxl">{{ title }}</h1>
    {{ content | safe }}
  </div>
{% endblock %}
</main>

{% include "partials/htmlfoot.njk" %}

<script>
  let ele = document.getElementById("{{href}}");
  ele.classList.add("active");
</script>