<canvas id="chartConfirmed" width="400" height="150"></canvas>
<canvas id="chartIncidence" width="400" height="150"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script>
let labels = data.map((row) => { 
    let months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    let dt = new Date(row.Date);
    return months[dt.getMonth()]; 
});
let dataConfirmed = data.map((row) => { return row.Confirmed; });
let dataIncidence = data.map((row) => { return row.Incidence; });


var ctxConfirmed = document.getElementById('chartConfirmed').getContext('2d');
var ctxIncidence = document.getElementById('chartIncidence').getContext('2d');

var chartConfirmed = new Chart(ctxConfirmed, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'confirmed, 15th and 28th of each month',
            data: dataConfirmed,
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

var chartIncidence = new Chart(ctxIncidence, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '7 days incidence, 15th and 28th of each month',
            data: dataIncidence,
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>