    <footer class="footer type-center padding-sm">
        <p>&copy; mm 2021, made with <a href="https://www.11ty.dev/">11ty</a> &mdash; last updated {{ null | now }}</p>
    </footer>
</body>
</html>